<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Welcome to Contentful on Rails.</h1>
    <p class="lead">This is a starting template using Rails 6, React JS, Bootstrap and Contentful as a headless CMS.</p>
    <hr class="my-4">
    <p>You can start your Contentful project by reading the documentation here.</p>
    <a class="btn btn-outline-primary btn-lg" href="https://www.contentful.com/developers/docs/ruby/" target="_blank">Contentful's Get started with <i class="fas fa-gem text-danger"></i></a>
    <a class="btn btn-outline-info" href="https://www.contentful.com/developers/docs/tutorials/general/get-started/" target="_blank">Or with their main documentation</a>
  </div>
</div>
