<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <i class="fas fa-gem text-danger"></i> Contentful on Rails 
  </a>
  <a href="https://github.com/anthonyamar/contentful-on-rails" class="btn btn-outline-dark">
    Read documentation and contribute on <i class="fab fa-github fa-lg"></i>
  </a>
</nav>